@charset "utf-8";
/* mod6 自有媒体 */
/*.custom-user,.custom-sort ,.custom-time {width: 40px;}
.mygroup .btn {height: 34px;background: transparent;border: 1px solid #bbc9d5;}
.custom-con {display: none;}
#user_select_weibo,#user_select_weiboSort,#user_select_appSort,#user_select_weixin,#user_select_weixinSort,#user_select_app,#user_select_xhw,#user_select_xhwSort {display: none;position: relative; top: -7px; background: transparent;border-color:transparent;}
#user_input_time_weibo,#user_input_time_weixin {position: relative; top: -6px;right:-12px;height:32px; background: transparent;border-color:transparent;display: inline-block;}
.custom-artCont {height:50px; text-indent: 2em;overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;}
.j-weibo .custom-artCont {height: auto;-webkit-line-clamp: inherit;}
.mygroup .form-control:focus,.mygroup .single-line:focus {border-color: transparent !important;}
#maincontent {min-height: 880px;overflow-y:hidden !important;}
.count-right > p > img {width: 100px;height: 100px;display: block;}
#maincontent .ibox-title {padding: 10px; height: 56px; background-size: 100% 100%;}
#maincontent .ibox-title h5 {line-height: 34px;}
#maincontent .ibox-title .ibox-tools {font-size: 20px;margin-top: 6px;}
.custom-taken-ibox h1 {font-weight: bold;text-align: center;}
.custom-taken-ibox .count-right {overflow-y:scroll;height:750px;font-size: 16px;line-height: 24px;padding-bottom: 40px;}
.custom-taken-ibox .count-right > p {height:400px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 25; -webkit-box-orient: vertical;}
.j-weibo,.j-weixin {display: none;}
.j-weibo:first-child,.j-weixin:first-child {display: block;}
.icon-link {display: none;margin-left: 20px;}
.j-weixin .feed-element:hover .icon-link {display: inline-block;}*/
.custom-content {width: 280px;overflow: hidden;text-overflow: ellipsis;white-space:nowrap;}


/* mod1 首页 */

.ibox-title .label {margin-top: 2px;}

.info-l{height: 60px;color: #333;margin-left: 5px;margin-top: 30px;}
.info-l small{color: #333;}
.fa-icon, .cai1-icon, .cai2-icon, .cai3-icon{background: #63b2ee;height: 60px;width: 60px;font-size: 30px;line-height: 60px;border-radius: 50%;text-align: center;margin-right: 10px;color: #FFF;}
.cai1-icon{background: #7cd6cf}
.cai2-icon{background: #f4c371}
.cai3-icon{background: #7898e1;font-size: 26px;}
.table > tbody > tr > td {padding: 10px;}
.td_div_height{
	width:90%;
	height: 20px;
	line-height: 20px;
	overflow:hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
}

.divColumnContainer > td {
	width: 50%;
}

.divColumnContainer .divColumn_box {
	width: 683px !important;
}



/*新媒体改版*/ 



.skin-1 .navbar-static-top {
    background: url(../img/overseas_al_bg.png) no-repeat;
    margin-bottom: 10px;
    height: 100px;
    box-sizing: border-box;
    background-size: 100% 100%;
}
.navbar-header {
    line-height: 93px;
}
.navbar-header > .navbar-top-links > li > a, .navbar-header > .navbar-top-links > li span {
    color: #fff;
    font-size: 16px;
    min-height: auto;
    padding: 0 10px;
}
.navbar-header > .navbar-top-links > li > a:hover, .navbar-header > .navbar-top-links > li span:hover{
    color: #fffc00;
}
.navbar-header > .navbar-top-links > .j-hover.on > a , .navbar-header > .navbar-top-links > li.on span{
    color: #fffc00;
}

.navbar-header > .navbar-top-links > li .welcome-message {
    font-size: 28px;
    /* background: url(../img/overseas_mod1_logo.png) no-repeat left center; */
    background-size: 40px 40px;
    padding-left: 50px;
}
/*mod1*/



.account_statistics table tr:nth-of-type(1) td {
	color: red;
	font-weight: bold;
}

.account_statistics table tr:nth-of-type(2) td {
	color: orange;
	font-weight: bold;
}

.account_statistics table tr:nth-of-type(3) td {
	color: yellowgreen;
	font-weight: bold;
}

.table-striped>tbody>tr:nth-of-type(odd) {
	background-color: #f9f9f9;
}

.new_tools_s {
	/*float: right;*/
	font-size: 16px;
	color: #777777;
	padding: 0 8px;
}

.ibox-tools .new_tools {
	font-size: 14px;
	font-family: '宋体';
	color: #777777
}

.ibox-tools .new_tools.active {
	color: rgb(0, 152, 223);
	;
}

.sort {
	display: none;
	width: 15%;
	    color: red;
    font-weight: bold;
}

.hideData1 table tr th:nth-of-type(5) {
	display: table-cell
}

.hideData1 table tr td:nth-of-type(5) {
	display: table-cell;
}

.hideData2 table tr th:nth-of-type(6) {
	display: table-cell;
}

.hideData2 table tr td:nth-of-type(6) {
	display: table-cell;
}

.hideData3 table tr th:nth-of-type(7) {
	display: table-cell;
}

.hideData3 table tr td:nth-of-type(7) {
	display: table-cell;
}

.timetop {
    /*background: #7288A0;*/
    border-top-left-radius: 3px;
    border-top-right-radius: 4px;
    height: 30px;
    line-height: 30px;
    /*color: #fff;*/
    padding: 0 15px;
    display: inline-block;
}
.timetop a{
    margin: 0 5px;
}


	.content_div .sort{display: table-cell;width: 10%;color:rgb(103, 106, 108);font-weight: 100;}
	
.ibox-tools .more_btn{color: #3d94bb;margin-left: 40px;border-right: 1px solid #3d94bb;
    padding-right: 5px;}
.sort1_{cursor: pointer;}

/*mod3*/
.box [type="checkbox"]{ display:none;}
.box label{ display:inline-block; width:20px; height:20px; background:#fff; border:1px solid #1ABB9C;  overflow:hidden; position:relative;cursor: pointer;}
.box label:after{ content:'\2714'; width:15px; height:15px;color:#1ABB9C; line-height:14px; font-size:14px; text-align:center; position:absolute; left:2px; top:2px;
-webkit-transform:translateY(-30px);
-moz-transform:translateY(-30px);
-o-transform:translateY(-30px);
-ms-transform:translateY(-30px);
transform:translateY(-30px);
cursor:pointer;}
.box [type="checkbox"]:checked + label:after{ transform:translateY(0px) ;-moz-transform:translateY(0px) ;-webkit-transform:translateY(0px);
-o-transform:translateY(0px);
-ms-transform:translateY(0px); transition:all 0.2s ease-in;
-webkit-transition:all 0.2s ease-in;
-moz-transition:all 0.2s ease-in;
-o-transition:all 0.2s ease-in;
-ms-transition:all 0.2s ease-in;}
ul.msg_list li {
    /* background: #f7f7f7; */
    padding: 5px;
    display: flex;
    padding: 15px 0;
    width: 100% !important;
    border-bottom: 1px dashed #a4a4a4;
}
.x_content {
	padding: 0 0 0px 20px;
    position: relative;
    width: 100%;
    float: left;
    clear: both;
    margin-top: 5px;
    height: 279px;
    overflow: hidden;
    overflow-y: auto;
}
.x-med {
    height: auto;
    overflow: hidden;
    margin-bottom: 10px;
}
ul.msg_list li a {
    padding: 3px 5px !important;
    font-size: 14px;
    letter-spacing: 1px;
    color: #333;
}
.media-footer {
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    padding-left: 30px;
    font-size: 13px;
    margin-right: 0;
}
.media-footer span:nth-of-type(1) {
    /*width: 10%;*/
}
.media-footer span {
    display: inline-block;
    margin-right: 20px;
}
.media{
width: 100%;
}



/*mod6*/
.icon_{font-size: 22px;
    float: right;
    height: 34px;
    line-height: 34px;}





.ibox-tools a{    font-family: '宋体';margin-left: 2px;font-size: 14px;}
.ibox-tools  .export_btn{color: #3d94bb;}
/*隐藏功能*/
/* .export_data,.export_part_data,.select_all,.iToolbar_container{display: none !important;} */
.media-body {
    display: block;
    width: auto;
}