.y_shaixuan{line-height: 14px;padding: 0px 25px;height:31px;}
#finish_event_list{min-height: 100px;background: #fff;padding-bottom: 10px;float: left;width:100%;}
#finish_event_list .ipage-fenye-oper{display: none;}
.ml0{margin-left: 0;padding-left: 0;}

.btn-info{background-color: #17a293 !important;border-color: #17a293 !important;}
.fa-eye{color: #17a293 !important;font-size: 18px;}























