.yd_title{height: 30px;line-height: 30px;background: #f6f6f6;}
#yindao_list #info_div li{border: none;-webkit-box-shadow: 0 0px 6px rgba(0,0,0,.15); box-shadow: 0 0px 6px rgba(0,0,0,.15);margin-bottom: 25px;padding-bottom: 8px;}
.yd_title a{float: right;margin-right: 8px;}
.yd_title font{cursor: pointer;}
.yd_title{margin-top: 8px;padding-left: 10px; font-weight: 800}
.yd_content{margin-top: 8px;padding-left: 10px;}
.yd_time{margin-top: 8px;padding-left: 10px;}
.yd_site{margin-top: 8px;padding-left: 10px;}






















