#emotion_Modal{border-bottom: none;}
.in{border-bottom: none;}
.y_ztjc_one{width:2px;height:12px;background: #424242;float: left;margin-right: 5px;margin-top: 4px;}
#trend_analysis_result{width:100%;height:470px;margin-top:32px;}
#new_quan{width:38%;height:550px;float: right;}
.y_ztjc_a{margin-top: 0}
.y_ztjc_b{float: right;margin-right: 17px;}
.y_ztjc_c{border-radius: 5px;height:25px;line-height: 25px;padding: 0;}
#result_zhandian{width:96%;margin:0 auto;height:450px;overflow: hidden}
.y_mt0{margin-top: 0;}
.pl0{padding-left: 0;}
.pr0{padding-right: 0;}
#main_point_result{height:350px!important;}
#qingganqingxiang5 #main_point_result{height:374px;}
#natizen_ranking_result{height:400px;}
#event_clues_charts{height:435px;text-align: center;}

/*.online-visitors1 .referral{background: #00b0ea;}
.online-visitors1 .organic{background: #eb504c;}
.online-visitors1 .direct{background: #f58157;}*/
.widget-metric_3 .fb{font-weight: bold;font-size:20px}
.fb_zheng{color:#0395ce;}
.fb_zhong{color:#fbb115}
.fb_fu{color:#eb8461}








