@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts.gstatic.com/s/sourcesanspro/v10/ODelI1aHBYDBqgeIAH2zlN0tugusXa58UbOrParLRF0.eot")/*tpa=https://fonts.gstatic.com/s/sourcesanspro/v10/ODelI1aHBYDBqgeIAH2zlN0tugusXa58UbOrParLRF0.eot*/;
}
