.mtrack-container {
	padding:10px;
	overflow:hidden;
	background-color:#fff;
	position: relative;
}

.node circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 1px;
}

.node {
	font: 16px sans-serif;
}

.link {
	fill: none;
	stroke: #8c0;
	stroke-width: 1.5px;
}

.mblogtrack-zoomin, .mblogtrack-zoomout {
	position: absolute;
	left: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #029AE8;
	padding: 3px;
	color: white;
	width: 10px;
	height: 10px;
	cursor: pointer;
	line-height: 10px;
	text-align: center;
}

.mblogtrack-zoomin {
	 top: 10px;
}
.mblogtrack-zoomout {
	 top: 30px;
}

.unselectable {
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
}